.carousel-x-container{
    background-color: #F1F1F1;
    padding: 20px;
    margin: 5% 0;
}

.carousel-x {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    width: 100%;
    /* box-shadow: slategray; */
}
.data-li-card li,.data-li-card-li {
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
.bar {
    position: relative;
    width: 10%;
    height: 582px;
    /* color: #fff; */
    margin-right: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    cursor: pointer;
    transition: width 0.6s cubic-bezier(0, 0, 0, 0.9);;
}
.heading-data-row-li{
font-size: 18px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.3em;
text-align: left;

}
.bar-image{
    position: absolute;
    top: 20px;
    width: 100px;
    height: 80px;
}
.bar-title {
    transform: rotate(-90deg);
    color: #fff;
    text-align: end;
    font-size: 18px;
    letter-spacing: 1rem;
    position: absolute;
    top: 50%;
    font-weight: 800 !important;
    /* transition: transform 0.3s ease-in-out;  */
}

.activeis {
    width: 60%; /* Adjust width as needed */
    /* transition: width 0.2s ease-in-out; */
}
.card-x{
    width: 100%;
    padding: 2%;
    
    background-color: blue;
    height: 100%;
    border-radius: 15px;
    transition: transform 0.2s ease-in;
}
.carousel-x-data{
    text-align: left;
    font-size: 1rem;
}
.card-x table{
    margin: 10px;
    padding: 10px;
}
.card-x tr th,td{
    border-bottom: 1px solid #F1F1F1;
    letter-spacing: 0.1rem;
    /* margin: 10px; */
}

.table-heading{
    color: #7A63AB;
    font-size: 1.3rem;
    letter-spacing: 1cqmin;
    text-align: left;
}
.card-heading-x{
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 1cqmin;
}
.goal-data-x{
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.3em;
    text-align: left;
    
    }