/* .landing-page-container-parent{
       width: 100%;
       overflow-x: hidden;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
} */
.landing-page-ppc-triangle{
       margin: auto;
       right: 0;
       height: 80%;
       width: 680px;
       position: absolute;
}
/* .landing-page-ppc-triangle {
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
     } */
     
     .img2 {
       height: 62%;
       /* height: 63%; */
       position: absolute;
       top: 4%;
       left: 50%;
       cursor: pointer;
       transform: translateX(-50%);
     }
     
     
     .img3 {
       height: 50%;
       cursor: pointer;

       /* width: 49%; */
       position: absolute;
       bottom: 0;
       left: 8%;
     }
     
     .img4 {
       cursor: pointer;
       height: 50%;
       position: absolute;
       bottom: 0;
       right: 8%;
     }
     
     .img1 {
       width: 30%;
       cursor: pointer;
       position: absolute;
       z-index: 1;
       top: 45%;
       left: 50%;
       transform: translateX(-50%);
     }
     

.traingle-parent-container{
       position: relative;
       display: flex;
       flex-direction: column;
       width: 100%;
       justify-content: flex-start;
       padding: 4%;
       align-items: flex-start;
       justify-self: center;
       /* background: url('/trainglebackgroundimg.svg'); */
       background-size: cover;
       height: 536px;
       overflow-x: hidden;
       background-clip: border-box;
       background-repeat: no-repeat;
       overflow-y: hidden;
}
.traingle-parent-container .traingle-descriptions{
        width: 55%;
        padding: 2%;        
}
.landing-page-small-square-btn{
       margin-top: 30px;
       margin-bottom: 10px;
}
.heading-main-section-landing-page{
       width: 100%;
       display: flex;
       flex-direction: column;
       gap: 30px;
       justify-content: center;
       align-items: center;
}
.heading-main-section-landing-page .heading-main-section{
       font-size: 60px;
       font-weight: 360;
       letter-spacing: 0.3em;
       line-height: 35px;
}
.heading-main-section-down{
       font-size: 60px;
       font-weight: 360;
       letter-spacing: 0.3em;
       line-height: 70px;
       text-transform: uppercase;
}
.landing-page-section-heading-down{
       margin: 40px auto;
}
.heading-main-section-landing-page .small-heading-landing-page{
       color: var(--c61);
       font-size: 35px;
       font-weight: 500;
       margin-top: 20px;
       line-height: 10px;
}
.planet-heading-color ,.people-heading-color ,.community-heading-color{
       font-size: 40px;
}
.planet-heading-color{
       color: var(--b0bc25);
}
.people-heading-color{
       color: var(--people);
}
.community-heading-color{
       color: var(--community);
}
.traingle-parent-container .traingle-descriptions .people-color-heading-landing-page{
       color: #005199;
       font-size: 25px;
}
.traingle-parent-container .traingle-descriptions .normal-color-heading-landing-page{
       font-size: 20px;
}
.landing-page-card-container{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 20px;
}
.three-card-conatiner{
       display: flex;
       width: 100%;
       flex-wrap: wrap;
       justify-content: space-around;
       align-items: center;
       padding: 15px;
       /* background:rgba(223, 214, 214, 0.12); */
       
}

.landing-page-second-caresoules{
       display: flex;
       flex-direction: column;
       width: 100%;
       justify-content: center;
       align-items: center;
}
@media only screen and (min-width: 1700px) {
       .traingle-parent-container{
              background-size: cover;
              height: 650px;
       }
       .traingle-parent-container .traingle-descriptions .people-color-heading-landing-page{
              font-size: 30px;
       }
       .traingle-parent-container .traingle-descriptions .normal-color-heading-landing-page{
              font-size: 25px;   
       }
     }
       
.sdg-wheel-landing-page-container{
       display: flex;
       justify-content: center;
       align-items: center;
       background: #f1f1f1;
       width: 100%;
}
.sdg-wheel-landing-page-container img{
       padding: 30px;
}
.sdg-wheel-descriptions{
       width: 38%; 
       margin-left: 5%;  
}
.sdg-wheell-heading-upper{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
}
.smae-font-para-sdg{
       font-size: 22px;
       line-height: 30px;
}
.people-span ,.planet-span,.community-span,.governance-span{
       font-size: 24px;
       font-weight: 500;
}
.people-span{
color: var(--people);
}
.planet-span{
color: var(--b0bc25);
}
.community-span{
       color: var(--community);
}
.governance-span{
       color: var(--ea7926);
}
.readmore-blue{
       background: var(--planet-color-text);
       border: none;
       border-radius: 30px;
       color: white;
       font-size: 14px;
       letter-spacing: 0.3em;
       padding: 0px 20px;
       justify-self: center;
       padding-bottom: 4px;
       margin-left: 20px;
       text-transform: uppercase;
       font-weight: 500;
}
.resources-wrapper-parent{
       display: flex;
       flex-direction: column;
       width: 100%;
       justify-content: center;
       align-items: center;
}
.parent-shaded-container {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100vw;
       background: rgba(45, 154, 197, 0.08); /* Use rgba() with alpha value as decimal */
       height: 120px;
       bottom: 0;
   }
   
   .description-shaded-container {
       width: 60%;
       margin: auto 20%;
       color: #123c61;
       letter-spacing: 0.02em;
       font-size: 24px;
       font-weight: 200;
       text-align: center; /* Center-align text */
   }
   .description-shaded-container .email-span{
       color: #4d8ac0;
       text-decoration: underline;
   }
.carousel-img-container{
       margin: auto;
       position: relative;
       align-items: center;
       justify-content: right;
       width: 100%;
}
.video-popup{
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   width: 100%; 
   z-index: 4; 
  
}
.video-popup .video-popup-content {
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start; 
       text-align: left; 
       
}
.width-full-span{
       width: 100%;
       display: flex;
       justify-content: flex-start;
       align-items: center;    
}
.close{
 width: 100px;
 font-size: 40px;
 font-weight: 800;
 color: #4d8ac0;
 cursor: pointer;
margin-left: 1%;
}
.carousel-img-container-content{
       position: absolute;
       width: 35%;
       margin: 7%;
}
.quote-icon1{
       position: absolute;
       width: 10%;
       top: -5%;
       left: -10%;
}
.quote-icon2{
       position: absolute;
       width: 7%;
       bottom: 22%;
       right: 3%;     
}
.carousel-img-container-content .md-msg{
       font-size: 1.3rem;
       text-align: justify;
}
.carousel-img-container-content h6{
       color: #EA7926;
       letter-spacing: .5cqmin;
       font-size: .9rem;
}
.carousel-img-container-content .managing-director{
       /* color: #EA7926; */
       letter-spacing: .3cqmin;
       font-size: .8rem;
}
.carousel-img-container-content button{
       background-color: #EA7926;
       color: #fff;
       border-radius: 50px;
       border: none;
       font-size: .8rem;
       letter-spacing: .5cqmin;
       padding: 1% 5%;
}
.awards-wrapper-parent{
       margin: 5% auto;
       display: flex;
       flex-direction: column;
       width: 100%;
       justify-content: center;
       align-items: center;
       text-align: center;
       /* border: 2px solid black; */
}
.awards-green-title{
       margin: 5% 0 2%;
       letter-spacing: .5cqmin;
       background-color: #B0BC25;
       color: #fff;
       border-radius: 50px;
       padding: 0 3%;
}
 .linking-sustabanility{
       font-size: 22px;
       font-weight: 600;
       line-height: 42px;
       text-align: left;
       color: #123C61;

       }
       .linking-sustabanility a{
              color:#4d8ac0;
              letter-spacing: 0.02em;
       }
       @media screen and (max-width: 1408px) {
              .carousel-img-container-content .md-msg{
                     font-size: 14px;
              }
              .carousel-img-container-content{
                     width: 40%;
                     margin: 4%;
              }
              .heading-main-section-down{
                     font-size: 50px;
              }
              .heading-main-section-landing-page .small-heading-landing-page {
                     line-height: 30px;
                     font-size: 30px;
                     margin-top: 15px;
                     padding-left: 5%;
                     text-align: center;
              }

            }
       @media screen and (max-width: 1008px) {
              .carousel-img-container-content .md-msg{
                     font-size: 12px;
              }
              .carousel-img-container-content{
                     width: 40%;
                     margin: 0%;
              }
              .heading-main-section-down{
                     font-size: 40px;
              }
            }