.container-sustainability {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
  padding: 0 20px;
}
.card-container::after {
  content: " ";
  position: absolute;
  top: 0;
  background: url("/Rectangleoverlay.png");
}
.cardcustome {
  height: 300px;
  padding: 13px;
  border-radius: 16px;
  color: #ffffff;
  font-size: small;
  transition: all 0.3s ease-out;
  text-align: center;
}
.card-container {
  border-radius: 16px;
}
.card2 {
  height: 604px;
  padding: 13px;
  z-index: 10;
  border-radius: 16px;
  font-size: small;
  transition: all 0.3s ease-out;
  text-align: center;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardcustome:hover {
  /*  background-color: #7A63AB; */
  transform: translateY(-5px) scale(1.005) translateZ(0);
}
.cardcustome .globe {
  width: 100px;
  margin: 20px 0;
}
.cardcustome.dotted-line {
  font-size: medium;
  color: #fff;
}
.cardcustome a {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1ch;
  text-decoration: none;
  cursor: pointer;
}
.CardHeading {
  text-transform: uppercase;
}
.CardHeading-second-specail{
    font-size: 35px;
    width: 80%;
    text-align: left;
}
/* SUSTAINABILITY GOVERNANCE CSS START ------  */

.sus-gov-container1 {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  text-align: left;

}

.sus-gov-container1 .sus-cont1-sec1 {
  text-align: left;
  justify-content: left;

}

.sus-gov-container1 .sus-cont1-sec1 .cont1-sec1-left {
  /* width: 49%; */
  margin-right: 1%;
}

.sus-gov-container1 .sus-cont1-sec1 .cont1-sec1-left h2 {
  font-family: Gotham;
font-size: 36px;
font-weight: 400;
line-height: 42px;
text-align: left;
  color: #55349D;
  letter-spacing: 0.4cqmin;

}

.sus-gov-container1 .sus-cont1-sec1 .cont1-sec1-left .sus-p1 {
  font-size: 30px;
font-weight: 300;
line-height: 42px;
text-align: left;
  color: #55349D;

}
.sus-gov-container1 .sus-cont1-sec1 .cont1-sec1-left .sus-p2{
  font-family: Gotham;
font-size: 20px;
font-weight: 300;
line-height: 32px;
text-align: left;
color: #606060;
}
.sus-gov-container1 .sus-cont1-sec1 .cont1-sec1-img {
  width: 37%;
  height: 45%;
}


.sus-gov-container2 {
  margin-top: 5%;
}
.sus-gov-container2-ppp{
  background-color: rgb(85, 52, 157, 0.05);
  text-align: center;
  padding: 2% 0;
  margin-bottom: 3%;
}
.sus-gov-container2-ppp .poppins-medium{
  font-family: Gotham;
  font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: center;

}
.sus-gov-container2 h4 {
  color: #7A63AB;
  margin: 1%;
}

.span-ppl {
  color: #AD3088;
font-size: 36px;
line-height: 28px;
text-align: center;
}

.span-plt {
  color: #B0BC25;
font-size: 36px;
font-weight: 300;
line-height: 28px;
text-align: center;


}

.span-cmt {
  color: #00B3BD;
font-size: 36px;
font-weight: 300;
line-height: 28px;
text-align: center;

}

.sus-bar {
  margin: 0 2%;
  color: #7A63AB;
  font-size: 1.4rem;
}
#specail-span-robust{
  font-family: Gotham;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.2em;
text-align: center;
color: #3D86C6;
text-transform: uppercase;
}
.sec2-gov-table{
  width: 90%;
  margin: auto;
}
.gov-table-card1{
  position: relative;

  width: 20%;
  border-radius: 20px;
  text-align: left;
  padding: 2%;
  background-color: rgb(122, 99, 171, 0.3);
}
.gov-table-card2{
  width: 60%;
  justify-content: center;
  padding: 2%;
  border-radius: 20px;
  background-color: rgb(122, 99, 171, 0.1);
}
.gov-table-card2 img{
  margin: 5%;
 
}
.gov-poly1 {
  position: absolute;
  height: 10%;
  top: 50%;
  transform: translateY(-50%);
  right: -8%;
}
.gov-table-card1 h4 , .gov-table-card3 h4{
font-size: 20px;
font-weight: 300 !important;
line-height: 32px;
letter-spacing: 0.2em;
text-align: left;
width: 100%;
}

.gov-table-card1 h5,.gov-table-card3 h5{
  /* margin-bottom: 0; */
font-size: 18px;
font-weight: 700 !important;
line-height: 32px;
text-align: left;
border-bottom: 0.1px solid #787676;
}
.gov-table-card1 p{
  /* margin: 0 ; */
  font-size: 1.2rem;
  font-weight: 300;
}
.gov-table-card3{
  position: relative;
  text-align: left;
  width: 20%;
  padding: 2%;
  border-radius: 20px;
  background-color: rgb(122, 99, 171, 0.3);
}
.gov-poly2 {
  position: absolute;
  height: 10%;
  top: 50%;
  transform: translateY(-50%);
  left: 1%;
}
.corp-gov{
  letter-spacing: 1cqmin;
  text-transform: uppercase;
font-size: 18px;
font-weight:700 !important;
line-height: 32px;
letter-spacing: 0.2em;
text-align: center;

  /* margin-bottom: 5%; */
}
.gov-table-card3 h5{
  margin: 10px auto;
  font-weight: 500;
}
.inner-child img{
  width: 80%;
  height: 25%;
}
.inner-child ul{
  text-align: center;
}
.inner-child ul li{
font-size: 18px;
font-weight: 400;
line-height: 32px;
text-align: left;
color: #606060;
}
.inner-child{
  font-size: .9rem;
  text-align: left;
  
  /* border: 1px solid; */
}
.inner-child h5{
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  padding-left: 0.2rem;
  color: #606060;
}

.sus-gov-container3{
  padding: 5% 0;
  background-color: rgb(122, 99, 171, 0.03);
  margin-top: 5%;
  text-align: left;
}
.sus-gov-container3-content{
  width: 90%;
  margin: auto;
}
.sus-gov-container3-content h1{
  color: #55349D;
  letter-spacing: 0.3cqmin;
}
.sus-gov-container3-content .sus-3-p{
  color: #55349D;
font-size: 30px;
font-weight: 300;
line-height: 42px;
text-align: left;

}
.sus-gov-container3-content p{
font-family: Gotham;
font-size: 20px;
font-weight: 400;
line-height: 32px;
text-align: left;
color: #606060;
}

.sus-gov-container4{
  padding: 5% 0;
  background-color: rgb(122, 99, 171, 0.08);
}
.sus-gov-container4-table{
  width: 90%;
  margin: auto;
  text-align: left;
}
.sus-gov-container4-table h2{
font-size: 24px;
font-weight: 700;
line-height: 38px;
text-align: left;
color: #40315E;
width: 98%;
}
.sus-gov-container4-table ul{
  font-family: Gotham;
font-size: 24px;
font-weight: 700;
line-height: 38px;
text-align: left;  
width: 70%;
}
.sus-gov-container4-table ul li{
font-size: 18px;
font-weight: 400;
line-height: 25px;
text-align: left;
color: #606060;
}
.sus-gov-container4-table .sus-pic{
  width: 30%;
  height: 8.5%;
  margin-left: 7%;
  margin-bottom: 5%;

}
.sus-gov-container4-table h2{
  font-size: 1.5rem;
  margin-left: 7%;
}
.sus4-card{
  position: relative;
  width: 25%;
  padding: 1%;
}
.devide-bar{
  position: absolute;
  height: 98%;
  right: 0;
  /* border: 2px solid black; */
  background-color: rgb(128, 128, 128, 0.5);
  width: 0.5px;
}
.sus-gov-container5{
  background-color: rgb(128, 128, 128, 0.07);
  padding: 3%;
  text-align: left;
}
.sus-gov-container5 p{
font-size: 20px;
font-weight: 500;
line-height: 32px;
text-align: left;

}
/* SUS COMMITMENTS CSS START-------- */
.bg-passthrough{
  width: 100%;
  margin: auto;
}
.passthrough-wrapper{
  position: relative;
  margin: 30px auto ;
  margin-bottom: 5%;
}
.popins-sus-board span{
font-size: 26px;
font-weight: 700;
line-height: 55px;
text-align: left;

}
.cmmt1{
  position: absolute;
  display: flex;
  justify-content: space-around;
  margin: auto;
  top: 30px;
}
.cmmt1 .banner-commitments{
  width: 45%;
}
.cmmt1-content{
  width: 45%;
  text-align: justify;
}
.cmmt1-content h1{
  margin: 0;
  font-size: 32px;
  width: 100%;
  color: #A285DC;
}
.cmmt1-content p{
  font-size: 26px;
  font-weight: 300;
  line-height: 42px;
  text-align: left;
  color: #55349D;
}
.cmmt2 .table {
  margin: 20px auto;
  width: 90%;
}
.cmmt2 .table .table-head-wrapper h3{
  display: inline-block;
  width: 25%;
  font-size: 14px;
  letter-spacing: 1cqmin;
  margin: 0;
  padding: 15px 0;
  border-radius: 20px 20px 0  0 ;
  cursor: pointer;
font-size: 16px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.2em;
text-align: center;

}
.data-row-wrapper-x{
  /* background-color: #F1F1F1 !important; */
  /* background-color: red; */
  display: flex;
  width: 100%;
  margin: auto;
  border-radius: 0 0 20px 20px;
}
.data-row-x{
  background-color: #F1F1F1 !important;
 width: 20%;
  height: 140px;
  margin: 0;
  padding: 4px 8px;
  font-size: 16px;
}
.data-row-x h3,
.data-row-x p {
  text-align: center;
  transition: color 0.9s ease-in-out;

}
.data-row-x h3{
font-size: 18px;
font-weight: 700;
line-height: 30px;
text-align: center;

}
.data-row-x p{
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
color: #474747;
}
.data-row-x:not(:last-child){
  width: 20%;
  border-right: 1px solid #D5D5D5;
}
.cmmt2 .table .table-head-wrapper .table-head-wrapper2{
  justify-content: center;
  margin: auto;
  
}
.active-heading-x{
font-size: 20px;
font-weight: 900;
line-height: 42px;
letter-spacing: 0.2em;
text-align: center;
  background-color: #7A63AB !important;
  color: #fff !important;
}
.inactive-heading-x{
  font-size: 20px;
font-weight: 900;
line-height: 42px;
letter-spacing: 0.2em;
text-align: center;;
  text-align: center;

  background-color: #D5D5D5 !important;
  color: #7A63AB !important;
}

.cmmt2 .table .table-head-wrapper h3 {
  transition: background-color 0.3s ease-in-out;
}

/* SUS GOALS CSS START-------- */

.goals-container {
  display: flex;
  width: 80%;
  margin: auto;
  text-align: left;

}



.little-card {
  display: flex;
  align-items: center;
  color: #fff;
  letter-spacing: 1cqmin;
  font-size: 0.7rem;
  cursor: pointer;
  padding: 1%;
  height: 16%;
  margin: 3px;
  border-radius: 0 20px 20px 0;
  background-color: #D5D5D5;
}

.little-card.active {
  background-color: #7A63AB;
  color: white;
  width: auto; 
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.little-card{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding: 0 3%;
}

.main-card {
  flex: 1;
  /* padding: 10px; */
  border-radius: 20px 0 0 20px;
  background-color: #F1F1F1;
  padding: 4% 2%;
  height: 600px;
}

.goals-table {
  width: 100%;
  border-collapse: collapse;
  padding: 5%;
  height: 100%;
}

.goals-table th {
  /* padding: 8px; */
  border-bottom: 1px solid grey;
  color: #7A63AB;

}
.goals-table-body{
  height: 100%;

}
.goals-data{
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: left;

  padding: 8px;
  border-bottom: 1px solid grey;

}

.status-bar{
  display: inline-block;
  color: #fff;
  font-size: 12px;
  width: 100%;
  height: fit-content;
  padding: 8px 20px;
  border-radius: 50px;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
}
.main-card-h2{
  color: #123C61;
  font-family: Gotham;
  font-size: 20px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0.2em;
  text-align: left;
  
 width: 100%;
} 
.fade-in {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
}

/* SUS DEVELOPMENT AND GOALS CSS START */

.dev-goals-wrapper1 {
  justify-content: space-between;
  width: 95%;
  margin: auto;
  align-items: center;
}
.dev-goals-wrapper1 p{
  color: #55349D;
  width: 65%;
  padding: 2%;
font-family: Gotham;
font-size: 30px;
font-weight: 300;
line-height: 42px;
text-align: left;

}
.dev-goals-wrapper1 img{
  width: 400px;
  height: 300px;
}
.dev-goals-wrapper2{
  margin: 50px 0;
  height: 500px;
  background-color: #F1F1F1;
  align-items: center;
  justify-content: center;
}
.dev-goals-wrapper2 img{
  width: 450px;
  height: 450px;
  /* margin: auto; */
}
.dev-goals-wrapper2-content h1{
  color: #4FA54A;

} 
.dev-goals-wrapper2-content h2{
  color: #55349D;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}
.dev-goals-wrapper2-content h5{
  color: #55349D;
  font-weight: bold;
  margin-top: 20px;
  letter-spacing: 1cqmin;
  margin: 0;

} 
.dev-goals-wrapper2-content p{
  margin: 0;

}
.dev-goals-wrapper2-content ul{
  font-size: 14px;
}
.dev-goals-wrapper2-content{
  text-align: left;
  margin-left: 30px;
}

/* SUS MATERIALITY CSS START */

.materiality-sec1{
  margin: 5% 0;
}
.materiality-sec1 .materiality-sec1-p {
  width: 90%;
  margin: auto;
  justify-content: space-between;
 margin-bottom: 5%;
}

.materiality-sec1 .materiality-sec1-p .purple-highlight-p {
  color: #55349D;
font-family: Gotham;
font-size: 30px;
font-weight: 300;
line-height: 42px;
text-align: left;

}

.materiality-sec1 .materiality-sec1-p p {
  width: 48%;
  text-align: left;
  font-family: Gotham;
font-size: 24px;
font-weight: 400;
line-height: 36px;
text-align: left;
color:#606060;
}

.sec2-row {
  position: relative;
  width: 100%;
  background-color: rgb(11, 3, 27, 0.03);
  justify-content: center;

}

.m-row-card {
  padding: 2%;
  width: 20%;
  /* border: 2px solid; */
}
.m-row-card p{
  margin-top: 50px;
  font-size: .7rem;
  /* font-weight: 500; */
  color: #6740BA;
  font-family: Gotham;
font-size: 18px;
font-weight: 400;
line-height: 25px;
text-align: center;

  /* border: 1px solid; */
}

.m-row-card h4 {
  margin-bottom: 10%;
  padding-right: 1rem;
  font-family: Gotham;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.2em;
  text-align: center;
  
}

.m-row-card img {
  width: 30%;
  height: 20%;
  margin-left: 3rem;
}

.m-row-arrow-line {
  position: absolute;
  width: 100%;
  top: 35%;
}
.materiality-sec2{
  /* margin: 5%; */
  padding: 5%;
  background-color: rgb(255, 205, 0, 0.1);
}
.materiality-sec2 h1{
  color: #7A63AB;
}
.materiality-sec2 .materiality-graph{
  width: 95%;
  margin: 5% auto;
}

/* STAKEHOLDER ENGAGEMENT CSS START */

.stakeholder-mgmt-container1{
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.stakeholder-mgmt-container1 img{
  width: 704px;
  height: 654px;
  left: 802px;
  gap: 0px;
  opacity: 0px;
  
}
.stakeholder-mgmt-container1 .p1{

color: #55349D;
font-family: Gotham;
font-size: 30px;
font-weight: 300;
line-height: 42px;
text-align: left;
  
}
.stakeholder-mgmt-container1 .p2{
  font-family: Gotham;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
color:#474747;  

}
.stakeholder-management-container2 {
  background-color: rgb(11, 3, 27, 0.04);
  padding: 5% 0;
}
.stakeholder-management-container2-table {
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: left;
  /* border: 2px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);

}

.titles-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Align items to the end (right side) of the container */
  font-size: .8rem;
  background-color: rgba(120, 98, 133, 0.05);
  letter-spacing: 1cqmin;
  text-align: center;
  padding: 3% 0;
}

.title {
  cursor: pointer;
  padding: 15px;
  color: #B1B3B6;
  font-family: Gotham;
font-size: 20px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0.1em;
text-align: center;

  border-radius: 50px;
  transition: background-color 0.3s ease;
  width: 80%;
}

.title.active {
  background-color: #7A63AB;
  color: white;
  border-radius: 50px;
  /* padding: 10px; */
  transition: all 0.7s linear;

}

.card-container {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
  width: 65%;
  background-color: #FFFFFF;

  height: 100%;
  /* border: 2px solid black; */
}

.cardx {
  position: absolute;
  /* border: 1px solid #7A63AB; */
  border-radius: 5px;
  /* padding: 35px; */
  height: 350px;
  width: 95%;
  /* margin-left: 3%; */
}

/* .main-card-h2 {
  color: #7A63AB;
  display: inline-block;
} */

.card-content {
  display: flex;
  margin-bottom: 10%;

}

.left-half {
  flex: 1;
  padding-left: 20px;
  font-family: Gotham;
font-size: 18px;
font-weight: 400;
line-height: 28px;
text-align: left;

}

.right-half {
  flex: 1;
  font-family: Gotham;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  
  
}
.divider {
  position: absolute;
  width: .5px;
  left: 45%;
  height: 100%;
  background-color: #7A63AB;
  margin: 0 20px;
}

.stakeholder-ul {
  /* list-style: none; */
  width: 90%;

  padding: 0;
}

.stakeholder-ul li {
  margin-bottom: 5px;
}

.stakeholder-subtitle {
  margin-bottom: 10px;
}

.poppins-medium {
  font-weight: 500;
}

.poppins-light {
  font-weight: 300;
}

/* SECTION 3 CSS */
.stakeholder-management-container3{
  width: 90%;
  margin: auto;
  margin-top: 10%;
  text-align: left;
  
}
.stakeholder-management-container3 .cont3-sec1{
  text-align: left;
  justify-content: left;

}
.stakeholder-management-container3 .cont3-sec1 .cont3-sec1-left{
  width: 49%;
  margin-right: 1%;
  color: #55349D;
}
.stakeholder-management-container3 .cont3-sec1 .cont3-sec1-left h2{
  margin: 0;
font-family: Gotham;
font-size: 30px;
font-weight: 300;
line-height: 42px;
text-align: left;
}
.stakeholder-management-container3 .cont3-sec1 .cont3-sec1-left p{
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
  text-align: left;
}
.stakeholder-management-container3 .cont3-sec1 .cont3-sec1-img{
  width: 50%;
}
.cont3-sec2-p{
  font-family: Gotham;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
color: #474747;  
}
.little-cards {
  width: 15%;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.33em;
text-align: left;

}
.stakeholder-subtitle .poppins-medium p{
  font-family: Gotham;
font-size: 18px;
font-weight: 700;
line-height: 28px;
text-align: left;
display: inline;

}
.stakeholder-subtitle li{
  list-style: none;
  
}
.first-child-color{
  color: #7A63AB !important;
  font-size: 700 !important;
}
.sdgwhell-parent-container{
  width: 100%;
  margin-top: 5%;
  background: #F1F1F1;
  padding: 3%;
}
.sustan-blue-para{

}