.climate-change-intro-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3% 0;
  align-items: center;
}
.ecc-bcc17{
  width: 47%;
}

.climate-change-intro-paragraph-inside-container {
  font-family: var(--font-replacment);
  color: #123c61;
  font-size: 16px;
  width: 55%;
  margin: auto;
  text-align: justify;
}
.climate-change-intro-photos-inside-container {
  width: fit-content;
  height: 90%;
  margin: auto;
}
.intro-climate-image {
  width: 450px;
  height: 100%;
  margin: auto;
}

/*   intro section for button */

.plannet-climate-focus-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin-top: 5%;
}
.focus-heading-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.parent-child-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-right: 6px; */
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: flex-start;
  
}
.parent-child-component img {
  width: 20;
  height: 30px;
  margin-right: 1rem;
}
.parent-child-component .focus-heading1 {
  font-weight: bold;

  text-align: justify;
  border-bottom: 1px solid #96AFC6;
  width: 90%;
  /* background-color: #d6d795; */
}
.parent-child-component .focus-heading2 {
  font-weight: bold;
  text-align: justify;
  border-bottom: 1px solid #96AFC6;
  width: 90%;
  /* background-color: #7b8422; */
}
.focus-heading1 {
font-size: 16px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0.1em;
text-align: left;
color: #123C61;

}
.focus-heading2 {
font-size: 16px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0.1em;
text-align: left;
color: #123C61;
}
.focus-heading-section .parent-child-component img {
  width: 4px;
}
.focus-main-content-container {
  height: 800px;
  width: 100%;
  padding:0;
  margin-bottom: 2%;
  justify-content: center;
  display: flex;
  margin-left: 2%;
  align-items: center;
}
.focus-main-content-container .mainContainer-focus-sectin {
  width: 25%;
  height: 100%;
  margin-right: 5px;
  padding: 2% 1%;

}

.focus-main-content-container .div-focus1 {
  background-color: rgb(214, 215, 149, 0.1);
}
.focus-main-content-container .div-focus2 {
  background-color: rgb(176, 188, 37, 0.1);
}

.single-focus-container {
  width: 100%;
  /* align-items: center; */
  height: 50%;
  border-bottom: 0.01px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  padding-left: 20px;
  padding-top: 4%;
}
.single-focus-container b {
  width: 90%;
  color: #A8B609;
  font-weight: 700;
  font-family: var(--font-replacment);
  letter-spacing: 0.04em;
  font-size: 18px;
}
.single-focus-container p {
  width: 95%;
  height: 40%;
  font-weight: 420;
  color: #717171;
  font-size: 15px;
  font-family: var(--font-replacment);
  letter-spacing: 0.04em;
}
.single-focus-container-heading-bar{
  display: flex;
  height: 30%;
  margin: 5% 0;
  justify-content: space-between;
}

.single-focus-container img {
  margin-top: 5px;
  width: 152px;
}
.single-focus-container .single-compo-image {
  width: 17%;
  /* height: 20%; */
}
.single-focus-container a {
  margin-top: 5%;
  text-decoration: none;
  color: #717171;
  letter-spacing: 0.5em;
  padding: 1px 8px;
  padding-left: 20px;
  font-size: 14px;
  font-family: var(--font-replacment);
  font-weight: 700;
  text-transform: uppercase;
}
/* .single-focus-container-specail a, */
.single-focus-container-specail p{
  color: #717171;
}
.single-focus-container-specail b {
  color: #A8B609;
  width: 80%;
}
.single-focus-container-specail a {
  color: #717171;

}
.planet-climate-last-section-parent {
  display: flex;
  justify-content: center;
  width: 98%;
  align-self: center;
  align-items: flex-start;
  margin-top: 3%;
 
}
.planet-climate-last-section-parent .main-section-climate-change {
  width: 73%;
  background: url(/Community-student-overlay.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin-left: 1%;
}
.planet-climate-last-section-parent .quick-link-sections {
  margin-top: 150px;
  font-family: var(--font-replacment);
  font-size: 14px;
  width: 27%;
}
.planet-climate-last-section-parent .quick-link-sections a
{
  font-size: 14px;
  color:#134673;
  transition: 0.5s all ease-in-out;
}
.planet-climate-last-section-parent .quick-link-sections a:hover
{
  font-weight: 600;
  color:#133859;
}
.description-main-section {
  margin: 30px;
  margin-left: 60px;
  
}
.yellowish-background-container{
  background-color: rgba(255, 255, 8, 0.04);
}
.description-main-section b {
  color: #b0bc25;
  text-transform: uppercase;
  font-weight: 400;
  
  font-family: var(--font-replacment);
  letter-spacing: 0.04em;
  font-size: 26px;
}
.description-main-section p{
  width: 95%;
  font-weight: 400;
  color: #151515;
  font-size: 15px;
  font-family: var(--font-replacment);
  letter-spacing: 0.04em;
}
.small-square-btn-png {
  width: 30px;
  height: 10px;
}
.description-main-section-climate-change b{
  color: #151515;
  font-size: 15px;
  font-weight: bold;
  text-transform: none;
  font-family: var(--font-replacment);
}
.accordian-main-section-climate-change{
  width: 94%;
  /* height: 1600px; */
  background: white;
  border-radius: 20px;
  margin-left: 35px;
  border: 0.5px solid rgb(216, 205, 205);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.heading-accrodian{
  color: #fff;
  background: #B0BC25;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-replacment);
  letter-spacing: 0.04em;
  font-size: 16px;
  border-radius: 15px;
  padding: 0 50px;
  justify-content: center;
  align-self: center;
  margin: 10px auto;
}
.accrodian-parent-element{
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.graph-parent-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}
.graph-parent-container img{
 width: 400px;
 height: 400px;
 margin-right: 40px;
}
/* NEW CSS FOR CONTENT BELOW TABLE START*/

.ecc-sec3-content{
  width: 100%;
  padding: 3%;
  /* border: 2px solid ; */
}
.ecc-sec3-content h2{
  color: #B0BC25;
font-size: 36px;
font-weight: 400;
line-height: 42px;
text-align: left;

  
}
.ecc-sec3-content h3{
  font-family: Gotham;
  font-size: 28px;
  font-weight: 300;
  line-height: 42px;
  text-align: left;
  width: 100%;
}
.ecc-sec3-content h4{
font-size: 32px;
}
.ecc-sec3-content p{
  font-family: Gotham;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  
}
.p-ecc-bcc-wrap{
  width: 100%;
  margin: 2% auto;
  justify-content: space-between;

}

.image-container-wrapper{
  width: 48%;
  margin-top: 15%;
  padding-right: 2%;
}
.p-ecc-bcc-wrap-main{
  width: 100%;
  margin: 2% auto 10%;
  margin-bottom: 0;
}
.p-ecc-bcc-wrap-main-grey1{
  width: 100%;
  margin: 2% auto 10%;
  padding: 2%;
  border-radius: 22px;
  border: 1px solid #D9D9D9;
  background-color: rgb(217, 217, 217, 0.1);  
}
.p-ecc-bcc-wrap-main-grey1{
  margin: auto;
}
.p-ecc-bcc-wrap-main-grey{
  width: 100%;
  margin: 2% auto 10%;
  padding: 2%;
  border-radius: 22px;
  border: 1px solid #D9D9D9;
  background-color: rgb(217, 217, 217, 0.1);
}
.p-ecc-bcc-wrap-main-grey img{
  width: 95%;
  margin: auto;
}
.p-ecc-bcc-wrap-context{
  width: 48%;
}
.p-ecc-bcc-wrap-fnl{
  width: 100%;
  margin: 2% auto;
  justify-content: space-evenly;
}
.ecc-bcc20{
  height: fit-content;
  width: 100%;
  margin: auto;
}
.p-ecc-bcc-wrap-context .ecc-bcc-lil-btn{
  width: 10%;
}
.p-ecc-bcc-wrap-context h2{
  color: #B0BC25;

}
.p-ecc-bcc-wrap-context p{
  font-family: Gotham;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #606060;
  
}
.last-descp-evs b{
  font-family: Gotham;
font-size: 48px;
font-weight: 700;
line-height: 30px;
text-align: left;
color: #97A400;
}
.last-descp-evs span{
  font-family: Gotham;
font-size: 20px;
font-weight: 600;
line-height: 32px;
text-align: left;

}
.p-ecc-bcc-wrap ecc-bcc16{
 width: 48%;
}

.p-ecc-bcc-wrap img{
  width:48%;
}
.image-container-wrapper img{
  width: 100%;
}




/* NEW CSS FOR CONTENT BELOW TABLE END*/





















.transioning-main-container{
  background:rgb(255, 213, 0,0.04);
  width:100%;
  height: 700px;
  justify-self: center;
  align-self: center;
  margin-top: 50px;
  padding: 40px;
}
.small-accrodian-container{
  display: flex;
  flex-direction: column;
  width: 95%;
   background-color: rgba(4, 85, 125, 0.08);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid whitesmoke;
  margin-left: 2%;
  padding-left: 2%;
  padding-top: 4%;
}
.accrodian-main-small-height{
  height: auto;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.accrodian-main-small-height b{
 align-self: center;
 justify-self: center;
 margin-left: 35%;
}
.small-paragraph-inside-small-accrodian-container{
  font-family: var(--font-replacment);
}
.small-paragraph-inside-small-accrodian-container .small-paragraph-heading{
font-size: 30px;
font-weight: 700;
letter-spacing: 0.03em;
}
.small-paragraph-inside-small-accrodian-container .specail-small-font-headings, .specail-transitioning{
 color: var(--people);
 font-size: 26px;
 font-weight: 300;
}
.planet-green-solutions{
  background-color: rgba(4, 37, 95, 0.04);
  width: 100%;
  margin-left: 0;
  padding: 20px 25px;
}
.specail-accrodian{
height: auto;
justify-content: center;
align-items: center;
width: 96%;
margin: 0;
}
.specail-accrodian .heading-accrodian {
  color: #fff;
  background: #B0BC25;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-replacment);
  letter-spacing: 0.04em;
  font-size: 16px;
  border-radius: 15px;
  padding: 0 50px;
  justify-content: center;
  align-self: center;
  margin: 10px auto;
}
.specail-image-div{
  width: 100%;
 height: auto;
}
.cutting-down-value-container{
  background-color: rgba(255, 115, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
}
.cutting-down-value-container .heading-main-section-climate-change{
  text-align: left;
  align-self: flex-start;
  color: #b0bc25;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--font-replacment);
  letter-spacing: 0.04em;
  font-size: 26px;
}
.description-main-section-climate-change{
  font-family: var(--font-replacment);
  font-size: 18px;
  font-weight: 300;
}
.specail-bold-planet-cutting-down{
  color: #b0bc25;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--font-replacment);
  font-size: 35px;
}
.regards b {
  font-weight: 600;
  font-family: var(--font-replacment);
  text-transform: capitalize;
}
.greensih-environment-section{
  color: #b0bc25 !important;
  font-weight: 600 !important;
  font-family: var(--font-replacment);
  font-size: 28px !important;
}
.three-componet-parent-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.three-componet-parent-container .three-component-child-container{
  display: flex;
  width: 98%;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 10px;
}
.three-componet-parent-container .three-component-child-container .child-componet-descriptions{
  width: 60%;
  text-align: justify;
}
.three-componet-parent-container .three-component-child-container .child-componet-descriptions .heading-child-component{
  color: #b0bc25;
  font-weight: 400 ;
  font-family: var(--font-replacment);
  text-transform: uppercase;
  line-height: 35px;
  width: 70%;
  font-size: 30px !important;
}
.small-size-component-image{
  height: 307px;
  margin: auto 30px;
}
.child-componet-descriptions .small-square-btn-png{
  margin-bottom: 20px;
  margin-top: 10px;
}
.heading-child-component{
  width: 60%;
}
.description-child-component{
  font-size: 16px;
  line-height: 30px;
  font-family: var(--font-replacment);
}
.conatiner-1, .conatiner-3{
  background: rgba(18, 60, 97,0.04);
}
.conatiner-2{
  background:  rgba(234, 121, 38,0.08);
}
.evs-child-component{
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgba(234, 121, 38,0.08);
}
.introducing-evs-parent-container{
  width: 100%;
}
.spaical-last-accrodian{
  height: 500px;
  width: 40%;
  margin-right: 5%;
}
.wrapper-evs-intro{
  width: 50%;
  padding: 20px;
}
.specail-circular-economy{
  width: 80%;
  justify-self: center;
  margin: auto;
  text-align: justify;
  
}
.specail-circular-economy .climate-change-intro-paragraph-inside-container {
 margin-bottom: 13%;
 color: #123C61;
}
.specail-circular-economy .climate-change-intro-paragraph-inside-container p {
 color: #123C61;
 font-family: Gotham;
font-size: 20px;
font-weight: 400;
line-height: 32px;
text-align: left;


}
.specail-circular-economy-img img{
  height: 320px;

}
.water-mamngment-intro{
  background: #F7F7F7;
  padding-bottom: 30px;
}
.water-mamngment-intro .climate-change-intro-paragraph-inside-container .paragraph-inside-climate-change{
  color:#123c61 !important;
  font-family: Gotham;
font-size: 20px;
font-weight: 400;
line-height: 32px;
text-align: left;

}
.specail-water-mamngment-para{
  color:#B0BC25 ;
  font-size: 18px;
  font-weight: 600;
}
.bold-span{
  font-size: 34px;
}
.specail-para-small{
  line-height: 8px;
  font-size: 20px;
}
.img-container-circular-economy{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container-circular-economy img{
 width: 97%;
 align-self: center;
}
.last-section-water-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow-x: hidden;
}
.main-section-last-part-managment{
  width: 68%;
  padding: 30px;
  padding-top: 40px;
 background:  rgba(122, 99, 171,0.08);
}
.last-section-water-container .quick-link-sections{
  width: 30%;
  margin-left: 1%;
  padding-top: 15%;

}
.greenish-planet-heading{
  text-align: left;
  align-self: flex-start;
  color: #b0bc25;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--font-replacment);
  letter-spacing: 0.04em;
  font-size: 26px;
}
.main-section-last-part-managment .small-square-btn-png{
margin-top: 20px;
}
.main-big-img-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-big-img-container img{
  width: 95%;
  padding-top: 30px;
  margin-left: 1%;
}

/* new design code style fro planet */
.planet-climate-change-description .data-student-community-container-environment{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.planate-climate-change-energy-effiecency{
  width: 90%;
  margin-top: 2%;
  border-top: 1px solid  #B1B3B6;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.planet-climate-change-description .data-student-community-container-environment .data-set-conatiner-below .small-size-paragraph-environment{
  font-family: Gotham;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #151515;
  width: 100%;
}
.ghg-intensity, .energy-intensity{
  padding: 3%;
  width: 50%;
  margin: auto;
}
.ghg-intensity img,.energy-intensity img{
  width: 100%;
  margin: auto;
  /* height: 40%; */
   /* margin-top: 2%; */
  /* border: 2px solid red; */
  align-items: center;
  align-self: center;
}
.energy-intensity {
  padding: 3%;
  padding-left: 8%;
}
.gresnnish-planet-environment-text-container{
font-size: 20px;
font-weight: 400;
line-height: 32px;
text-align: left;
background:rgb(229, 247, 137,0.2);
color: #7B8422;
padding: 3%;
border-radius: 15Px;
}
.normal-text-climate-change-vision{
  padding: 3%;
}
 .boiggrer-decription{
  font-family: Gotham;
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
  text-align: left;
  color: #3E3E3E;
}
.normal-text-planet-vision{
font-family: Gotham;
font-size: 20px;
font-weight: 400;
line-height: 32px;
text-align: left;
color: #717171;
}
.text-center-climate-change-container{
  width: 100%;
  justify-content: center;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.bold-green-text{
font-family: Gotham;
font-size: 22px;
font-weight: 700;
line-height: 34px;
text-align: center;
color: #7B8422;
z-index: 2;
}
.underlined-green{
  width: 90%;
  height: 1px;
  border-bottom: 2px solid #D6D795;
  z-index: 2;
}
/* .smallsquare-rotate-btn{
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background: #D6D795;
  z-index:1;
  margin-top: -20px; 
}*/

/* rishikesh work */

/* *******PLANET WASTE MANAGEMENT CSS START******** */

.planet-wm-sec1{
  width: 90%;
  margin: auto;
  padding: 5% 0;
  justify-content: space-between;
}
.planet-wm-sec1 h2{
color: #3E3E3E;
font-size: 2.2rem;
font-weight: 300;
}
.planet-wm-sec1-text{
  width: 70%;
}
.planet-wm-sec1-text h2{
font-family: Gotham;
font-size: 30px;
font-weight: 300;
line-height: 42px;
text-align: left;
 margin-bottom: 2%;
}
.planet-wm-sec1-text p{
  font-family: Gotham;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-bottom: 2%;
  padding-right: 3%;
  color: #606060;
}
.planet-wm-sec2{
  width: 70%;
}
.planet-wm-sec2-card1,
.planet-wm-sec2-card2,
.planet-wm-sec2-card3{
  width: 33.33%;
  padding: 4% 2%;
}
.planet-wm-sec2-card1 li,
.planet-wm-sec2-card2 li,
.planet-wm-sec2-card3 li{
  list-style-image: url('/planet-wm-sec2-card-list-icon.png');
  color: #3E3E3E;
  font-size: 1.2rem;
  margin-bottom: 5%;
}
.planet-wm-sec2-card1{
  background-color: rgb(214, 215, 149, 0.1);
}
.planet-wm-sec2-card2{
  background-color: rgb(176, 188, 37, 0.1);
}
.planet-wm-sec2-card3{
  background-color: rgb(91, 165, 32, 0.1);
}
.planet-wm-sec2-card-header{
  justify-content: space-between;
  color: #97A400;
}
.planet-wm-sec2-card-header h2{
  font-family: Gotham;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.2em;
  text-align: left;
  
}
.planet-wm-sec2-card-divider{
  width: 95%;
  /* margin-bottom: 5%; */
  margin: 0 auto 10%;
  background-color: #717171;
  height: 1px;
}
.planet-wm-sec2-card-divider ul li{
  font-family: Gotham;
font-size: 18px;
font-weight: 400;
line-height: 25px;
text-align: left;

}

.planet-wm-sec3{
  width: 70%;
  margin: 5% 0;
  padding: 0 5%;
}
.planet-wm-sec3 h2{
  color: #B0BC25;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 3%; 
}
.planet-wm-sec3 h3{
 color: #3E3E3E;
font-family: Gotham;
font-size: 30px;
font-weight: 300;
line-height: 42px;
text-align: left;
margin-bottom: 2%;
}
.planet-wm-sec3 p{
  color: #3E3E3E;
  font-family: Gotham;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
 
}
.planet-wm-sec4{
  width: 70%;
  /* margin: auto; */
}
.planet-wm-sec4-content{
  width: 100%;
  border: 2px solid #D9D9D9;
  margin: auto;
  border-radius: 22px;
  background-color: rgb(217, 217, 217, 0.3);
  padding: 2%;
}

.planet-wm-sec4-p1{
  width: 100%;
font-family: Gotham;
font-size: 20px;
font-weight: 400;
line-height: 32px;
text-align: center;

}
.planet-wm-sec4-p1 span{
 font-size: 2.5rem;
 font-weight: bolder;
 color: #B0BC25;
}
.planet-wm-sec4-row{
  width: 70%;
  margin: auto;
  justify-content: space-between;
}
.planet-wm-sec4-row-cont h1{


}
.planet-wm-sec4-row h1{
  font-family: Gotham;
  margin-top: 2%;
font-size: 42px;
font-weight: 600;
line-height: 26px;
  text-align: center;
  color: #B0BC25;
}
.planet-wm-sec4-row p{
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}
.planet-wm-sec4-row-divider{
  width: 100%;
  margin: 4% auto;
  height: 1px;
  background-color: #B1B3B6;
}
.planet-wm-sec4-row-graph{
  width: 100%;
  justify-content: center;
}
.planet-wm-sec4-row-graph img{
  margin: auto;
  width: 100%;
}
.planet-wm-sec5{
  width: 70%;
  background-color: rgb(214, 215, 149, 0.1);
  margin: 5% 0;
  padding: 5%;
}
.planet-wm-sec5-content{
  width: 100%;
}
.planet-wm-sec5-content .planet-wm-sec5-content-text{
  width: 52%;
}
.planet-wm-sec5-content-text h3{
  font-family: Gotham;
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
  text-align: left;
  
}
.planet-wm-sec5-content .planet-wm-sec5-graph{
  width: 48%;
  margin-left: 3%;
}
.planet-wm-sec5 h2{
  color: #B0BC25;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 3%; 
}
.planet-wm-sec5 h3{
  color: #3E3E3E;
font-family: Gotham;
font-size: 30px;
font-weight: 300;
line-height: 42px;
text-align: left;

 }
 .planet-wm-sec5 p{
  font-family: Gotham;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
.planet-wm-sec5 h1{
  font-family: Gotham;
font-size: 48px;
font-weight: 700;
line-height: 40px;
text-align: left;
  color: #B0BC25;
}
.planet-wm-sec5 h6{
  font-weight: 500;
  font-size: 1.3rem;
}
.wm-quick-links-section{
  position: absolute;
  right: 0;
  margin-top: 50%;
  width: 30%;
  height: 290%;
  justify-content: center;
}
.wm-sticky-links{
  margin: auto;
  width: 50%;
  position: sticky;
  top: 0%;
  left: 0;
    font-size: 1.1rem;
  padding: 15% 0;
}
.wm-sticky-links h4{
  padding-bottom: 5%;
  border-bottom: 1px solid grey;
  margin: 4%;
  letter-spacing: 0.5cqmin;
}
.wm-sticky-links li{
  list-style-image: url('/quickLinkArrow.png"');
  margin-bottom: 8%;
  color: #123C61;
  /* width: 5px; */
 }
.wm-sticky-links ul li a {
  text-decoration: none;
  font-size: 16px;
  transition: 0.5s all ease-in-out; /* Remove underline from links */
  color: inherit; /* Inherit color from parent */
}
.wm-sticky-links ul li a:hover{
  font-weight: 600;
  color: #243f56;
}
/* *******WATER RESOURCE MANAGEMENT CSS START */
.planet-wrm-sec1{
  width: 90%;
  margin: auto;
  padding: 5% 0;
  justify-content: space-between;
}
.planet-wrm-sec1 h1{
  color: #B0BC25;
  margin-bottom: 5%;
}
.planet-wrm-sec1 h2{
  color: #3E3E3E;
  font-weight: 300;
  margin-bottom: 5%;
}
.planet-wrm-sec1 p{
  color: #3E3E3E;
}
.planet-wrm-sec2{
  margin: 5% 0;
  padding: 5%;
  background-color: rgb(128, 128, 128, 0.04);
  width: 70%;
}
.planet-wrm-sec2 h1{
  color: #B0BC25;
  margin-bottom: 5%;
}

.planet-wrm-little-card{
  background-color: #D5D5D5;
  padding: 8%;
  height: 24%;
  display: flex;
  align-items: center;
  border-radius: 20px 0 0 20px;
  margin: 1%;
  cursor: pointer;
  color: white;
  font-family: Gotham;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left;
  
}
.wrm-active{
  background-color: #B0BC25;
}
.wrm-main-card{
  width: 100%;
  background-color: rgb(128, 128, 128, 0.1);
  border-radius: 0 20px 20px 0;
}
.wrm-table{
  height: 80%;
  width: 95%;
  margin: auto;
}

.wrm-table th{
  height: 25%;
  color: #AD3088;
  border-bottom: 1px solid grey;
  font-size: 1.3rem;
  margin-bottom: 5%;
  letter-spacing: 0.5cqmin;
}
.wrm-table td{
  width: 50%;
  font-size: 1.2rem;
}
.wrm-data1 {
  
  font-family: Gotham;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  
}
.wrm-data ul li{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  
}
.wrm-sec2-context2{
  width: 100%;
  margin: 5% auto;
  padding: 2%;
  border-radius: 22px;
  border: 2px solid #D9D9D9;
  background-color: #F7F7F7;
}
.planet-wrm-sec3{
  width: 70%;
}
.wrm-sec2-context2-imgs-row {
  width: 100%;
  justify-content: space-between;
}
.wrm-sec2-context2-imgs-row img{
  width: 48%;
  margin-bottom: 2%;
}
.wrm-sec2-context2-row{
  margin: 5% auto;
  width: 100%;
  justify-content: space-between;
}
.planet-wrm-sec3-context-card{
  width: 48%;
  align-items: center;
  justify-content: space-between;
}
.planet-wrm-sec3-context-card p{
  line-height: 1.4;
  margin: 0;
  width: 92%;
  color: #606060;
  font-size: 1.2rem;
}
.planet-wrm-sec3-context-card span{
  font-size: 1.8rem;
  color: #7B8422;
  font-weight: bold;
}
.planet-wrm-sec-context3{
  background: rgb(157, 187, 73,0.08);
  width: 100%;
  padding: 3%;
}
.planet-wrm-sec-context3 h2{
  font-family: Gotham;
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
  text-align: left;
  color: #151515;
  
}
.planet-wrm-sec-context3 p{
  font-family: Gotham;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color:#3E3E3E;

}
.wrm-sec3-wr-card-row{
  width: 100%;
  justify-content: space-between;
}
.wrm-sec3-wr-card-row img{
 width: 48%;
}
@media (max-width: 1600px) {
  .wm-quick-links-section{
margin-top: 70%;
  }
}
.planet-bar-heading-sec {
  text-align: center;
  width: 30%;
  background-color: #B0BC25;
  color: #fff;
  border-radius: 50px;
  font-family: Gotham;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0.2em;
}
.wm-sticky-links .quicklinks-button-div{
  width: 100%;
  color: #134673;

}
.wm-sticky-links .quicklinks-button-div a{
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}
.wm-sticky-links .quicklinks-button-div a:hover{
  font-weight: 600;
}